{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
<div class="row mt-3">
    <div class="col-md-9">
        <form class="form text-center" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="alert custom-alert custom-alert-danger icon-custom-alert shadow-sm fade show" role="alert">                                            
                
                <div class="alert-text my-1">
                    <h5 class="mb-1 fw-bold mt-0">
                        <strong>Are sure you want to delete Dr. {{patient.firstname|title}} {{patient.middlename|title}} {{patient.surname|title}}?</strong>
                    </h5>
                </div>
                <button type="submit" class="btn btn-outline-danger mx-3">Delete</button>
                <a
                    class="btn btn-outline-secondary"
                    href="{% url 'list_patient' %}"
                >Cancel</a>                                        
                
            </div>  
        </form>
    </div>
</div>

{% endblock content %}